
/*first to delete all margin and padding */
*{
    margin: 0;
    padding: 0;
}
/* would use the same font in the whole page*/
body{
    font-family: sans-serif;
    background-color: #EDEDF6ff;
}


/* used a flexbox to align items on same line and space between to push all to the other size the nav bar */
header{
    background: #31343Dff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5px 50px 15px 0;
}

/*
header h1{

    color: #39FF14;
}*/

/* decided to use an flexbox to help me align all of them in the same row*/
nav ul{
    display: flex;
    list-style: none;
}

/* here is the stylyng og the items on nav bar, i quit the default underline and used another one*/
nav ul li a{
    margin-right: 10px;
    text-decoration: none;
    list-style: none;
    color: #39FF14;
    border-bottom: 5px solid #39FF14;
    padding: 0 8px 2px 8px;
}

/* i used this class to add a background image*/
.hero{
    height: 200px;
    color: #31343Dff;
    background-image: url("https://wallpaperaccess.com/full/1188230.png");
    background-size: cover;
}

/*here i declared the position relative to can make absolute his child*/
.hero-title{
    position: relative;
}

/* used absolute positioning to move my name around the background image and be on the same place regarding the size of the screen*/
.hero-title h2{
    position: absolute;
    right: 60px;
    top: 150px;
    background-color: #31343Dff;
    padding: 5px 20px;
    color: #39FF14;
}

/*changed the direction of the flexbox which cover all the main part*/
main{
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}

/*added a margin between all the sections inside the main*/
.section{
    display: flex;
    margin-bottom: 30px;
}

/*gave style to the title of the sections */
.section h1{
    color: #31343Dff;
    border-right: 4px solid #31343Dff;
    min-width: 18%;
    text-align: right;
    padding-right: 10px;
}

#about-me p{
    margin-left: 30px;
    color: #31343Dff;
}


.project{
    color: #31343Dff;
    margin-left: 30px;
}

/*used to style the image of the projects*/
.project img{
    border-radius: 10px;
    border: 7px solid #31343Dff;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}

/*used to change the opacity when mouse hover the img*/
.project img:hover{
    opacity: 1;
}


.project div{
    align-items: flex-start;
    position: relative;
    max-height: fit-content;
    width:100%;
}

/* used to position the title above the image of the projects*/
.projectTitle{
    display: inline-block;
    padding: 10px;
    background-color: #31343Dff;
    color: #39FF14;
    position: absolute;
    bottom: 100px;
    left:6px;
    max-height: 24px;
    max-width: fit-content;
    border-radius: 0px 10px 10px 0px;
}

/* used to separate the projects in diferent lines*/
.work-container{
    display: flex;
    max-width: 100%;
    position:relative;
}

.work-container div{
    min-width: calc=(50%);
}

/*used to give some space between the projects*/


#contact ul{
    margin-left: 30px;
    color: black;
    display: flex;
    list-style: none;
    align-items: center;
    width: 80%;
    justify-content: space-around;
}


#contact ul a{
    text-decoration: none;
    color: #31343Dff;
    border-bottom: 5px solid #4A5E7Bff;
    padding: 0 8px 2px 8px;
}


/*when screen smaller than 768px it will only show one project on each line*/
@media screen and (max-width: 768px) {
.project div{
    display: flex;
    flex-direction: column;
}
}





